---
layout: default
title: Timeline 
permalink: /timeline/
order: 1
---

<div class="timeline">
  {% for item in site.data.history %}
    
    {% capture item %}{{ item }}{% endcapture %}
    <div class="timeline-header">
      <div class="timeline-divider"></div>
      <div class="timeline-header-left">
        <h1 class="timeline-name">{{ item.name }}</h1>
        <div class="timeline-title">{{ item.title}}</div>
      </div>
      <div class="timeline-header-center">
        <div>
        {% include hex-1.svg color_1="#000000" color_2="#007d8b" item=item %}
        </div>
        <div class="timeline-year">
          {{ item.from | date: "%Y" }} 
        </div>
      </div>
      <div class="timeline-header-right"></div>
    </div>

    <div class="timeline-details">
      <div class="timeline-details-left">
        {% if item.awards.size > 0 %}
          <div class="timeline-details-header">Awards</div>
          {% for award in item.awards %}
            <div class="timeline-award">{{ award }}</div>
          {% endfor %}
        {% endif %}

        {% for project in item.projects %}
          <div>
            {% capture id %}{{ project.id }}{% endcapture %}
            {% capture side %}{{ site.data.history_display.projects[id].side }}{% endcapture %}
            {% if side == "left" %} 
              {% if project.from %} 
                {{ project.from | date: "%Y" }} - {{ project.to | date: "%Y" }}: 
              {% endif %}
              {{ project.name }}
              <div style="padding: 1em;">{{ project.desc }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="timeline-details-center"></div>
      <div class="timeline-details-right">
          {% for project in item.projects %}
            <div>
              {% capture id %}{{ project.id }}{% endcapture %}
              {% capture side %}{{ site.data.history_display.projects[id].side }}{% endcapture %}
              {% if side != "left" %} 
                {% if project.from %} 
                  {{ project.from | date: "%Y" }} - {{ project.to | date: "%Y" }}: 
                {% endif %}
                {{ project.name }}
                <div style="padding: 1em;">{{ project.desc }}</div>
              {% endif %}
            </div>
          {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
