---
layout: default
title: Timeline 
permalink: /timeline/
order: 1
---

<div class="timeline">
  {% for item in site.data.history %}
    
    {% capture item %}{{ item }}{% endcapture %}
    <div class="timeline-header">
      <div class="timeline-divider"></div>
      <div class="timeline-header-left">
        <h1 class="timeline-name">{{ item.name }}</h1>
        <div class="timeline-title">{{ item.title}}</div>
      </div>
      <div class="timeline-header-center">
        <div>
        {% include hex-1.svg color_1="#000000" color_2="#007d8b" item=item %}
        </div>
        <div class="timeline-year">
          {{ item.from | date: "%Y" }} 
        </div>
      </div>
      <div class="timeline-header-right"></div>
    </div>

      {% if item.id == "uclan" %}
        <div class="timeline-details">
          <div class="timeline-details-panel">
            <div class="timeline-project-name">Awards</div>
            {% for award in item.awards %}
              <div class="timeline-award">{{ award }}</div>
            {% endfor %}
          </div>
          <div class="timeline-details-center"></div>
          <div class="timeline-details-panel">
              {% for project in item.projects %}
                {% include timeline-project.html project=project %}
              {% endfor %}
          </div>
        </div>

      {% elsif item.id == "amey" %}
        <div class="timeline-details">
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "dep_boards" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="timeline-details-center"></div>
          <div class="timeline-details-panel">
              {% for project in item.projects %}
                {% if project.id == "bidding" %}
                  {% include timeline-project.html project=project %}
                {% endif %}
              {% endfor %}
          </div>
        </div>
      {% elsif item.id == "sm" %}
        <div class="timeline-details">
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "sm_worlds" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="timeline-details-center"></div>
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "dev_ops" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="timeline-details">
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "soccer_engine" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="timeline-details-center"></div>
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "sm_2015" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="timeline-details">
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "sm_2016" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="timeline-details-center"></div>
          <div class="timeline-details-panel">
            {% for project in item.projects %}
              {% if project.id == "sm_arena" %}
                {% include timeline-project.html project=project %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
  {% endfor %}
</div>
