<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% if site.github_username %}
          {% include icon-github.html username=site.github_username %}
        {% endif %}

        {% if site.email %}
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3 flex-media">
        <img src="../assets/img/br-head-1.png" class="flex-media-left" />
        <p class="flex-media-right">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
