<div class="proj-summary">
    <div class="proj-img-panel">
        <img alt="{{ include.name }} project logo." class="proj-img" src="/assets/img/{{ include.img_name }}">
        <div class="proj-langs">
            {% for lang in include.item.languages %}
                <div class="proj-lang">{{ lang }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="proj-details-panel">

        <h1 class="proj-name">
            <a href="{{ include.link }}">
                {{ include.name }}
            </a>
        </h1>
        <div class="proj-desc">
            {{ include.desc }}
            <div class="proj-features-panel">
                <div class="proj-features">
                    {% for skill in include.item.skills %}
                        <div class="proj-skill">{{ skill }}</div>
                    {% endfor %}
                </div>
                <div class="proj-features">
                    {% for tool in include.item.tools %}
                        <div class="proj-skill">{{ tool }}</div>
                    {% endfor %}
                </div>
            </div>            
        </div>
    </div>
</div>

