.post {
    background-image: linear-gradient(white, hsla(0deg, 0%, 98%, 0.5));
    padding: 0.5em;
    border-radius: 1em;
}

.proj-summary {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
}

.proj-name {
    font-family: "Venera500", sans-serif;
    font-size: 1em;
    vertical-align: top;
    line-height: 0.6em;
}

.proj-name a, a:hover, a:visited {
    color: black;
}

.proj-img-panel {
    flex: 1 1;
    width: 140px;
    text-align: center;
    max-width: 6em;
}

.proj-details-panel {
    flex: 4 1;
    padding: 0.2em 1em;
}

.proj-img {
    height: auto;
    border-radius: 0.5em;
}

.proj-features-panel {
    margin-top: 0.5em;
}

.proj-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proj-skill {
    font-size: 0.9em;
    color: hsl(30deg, 50%, 30%);
    border: 1px solid hsl(30deg, 20%, 80%);
    border-radius: 0.5em;
    padding: 0.4em;
    margin: $small-gap $small-gap 0 0;
}

.proj-langs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em;
    justify-content: center;
}

.proj-lang {
    font-size: 10pt;
    color: hsl(30%, 30%, 50%);
    padding: 0 0.2em 0 0;
}

.bg-div {
    position: absolute;
    z-index: -1;
}

.bg-div-1 {
    top: -125%;
    left: -100px;
    color: hsl(100deg, 100%, 90%);
    font-size: 140em;
}

.flex-media {
    position:relative;
}

.flex-media-left {
    position: absolute;
}

.flex-media-right {
    margin-left: 2em;
}

.climber {
    position: absolute;
    z-index: -1;
    background-image: url(../assets/img/br-graffiti-climber-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: -120px;
    top: -30px;
    height: 650px;
    width: 170px;
    opacity: 0.9;
}

.graphic-right {
    position: absolute;
    z-index: -1;
    right: -50px;
    background-image: url(../assets/img/br-r-side-2.png);
    width: 100px;
    height: 75vh;
    background-repeat: repeat-y;
    background-size: contain;
    transform: translate(100px) perspective(200px) rotateX(86deg) rotateZ(4deg)
}

.color-1-uclan {
    stop-color: black;
}

.color-2-uclan {
    stop-color: #007b8d;
}

.color-2-amey {
    stop-color: grey;
}

.color-2-sm {
    stop-color: green;
}

.timeline {
    background-image: url(../assets/img/timeline-skewer-1.svg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 2em;
}

.timeline-header {
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: "Venera", sans-serif;
}

.timeline-divider {
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom: 2px dashed hsl(0deg, 0%, 90%);
}

.timeline-header-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
}

.timeline-header-center {
    position: relative;
    width: 120px;
    height: 104px;
    flex: 0 0;
}

.timeline-header-right {
    flex: 1 0 40%;
}

.timeline-name {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-end;
    font-family: "Venera500", sans-serif;
    font-size: 1em;
    margin: 0;
}

.timeline-title {
    flex: 1 1 50%;
    font-size: 0.8em;
    line-height: 2em;
}

.timeline-year {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: "Fairview", sans-serif;
    font-size: 48pt;
    color: white;
    filter: drop-shadow(5px 5px 10px black);
}

.timeline-details {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.timeline-details-left {
    flex: 1 0 35%;
}

.timeline-details-center {
    flex: 1 0 auto;
}

.timeline-details-right {
    flex: 1 0 35%;
}

.timeline-details-header {
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block;
    padding: 0.5em 2em;
    position: relative;
    top: 0;
    left: -1em;
    background-color: white;
    transform: perspective(10px) rotateX(1deg) rotateY(0deg) rotateZ(-2deg);
}

.timeline-award {
    color: black;
    padding: 0.5em;
}

/*
Too fancy 80s style text background. Maybe in the future it won't be too fancy
.timeline-award::before {
    content: "";
    top: 0.1em;
    width: 105%;
    height: 85%;
    background-color: hsl(200, 50%, 20%);
    position: absolute;
    z-index: -1;
    transform: perspective(2em) rotateX(1deg) rotateY(1deg);
    opacity: 0.9;
}
*/

.timeline-project-name {
    font-family: "Venera", sans-serif;
    display: inline;
}

.timeline-project-desc {
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .timeline {
        background-image: initial;
        padding-top: initial;
        font-size: 76%;
    }

    .timeline-details {
        flex-direction: column;
    }

    .timeline-header-right {
        display: none;
    }
}