.post {
    background-image: linear-gradient(white, hsla(0deg, 0%, 98%, 0.5));
    padding: 0.5em;
    border-radius: 1em;
}

.proj-summary {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
}

.proj-name {
    font-family: "LatoBold", sans-serif;
    font-variant: all-small-caps;
    vertical-align: top;
    line-height: 0.4em;
}

.proj-img-panel {
    width: 140px;
    text-align: center;
}

.proj-img {
    height: auto;
    border-radius: 0.5em;
}

.proj-features-panel {
    margin-top: 0.5em;
}

.proj-features {
    display: flex;
    flex-direction: row;
}

.proj-skill {
    font-size: 0.9em;
    color: hsl(30deg, 30%, 60%);
    border: 1px solid hsl(30deg, 20%, 80%);
    border-radius: 0.5em;
    padding: 0.4em;
    margin: $small-gap $small-gap 0 0;
}

.proj-langs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em;
    justify-content: center;
}

.proj-lang {
    font-size: 10pt;
    color: hsl(30%, 30%, 50%);
    padding: 0 0.2em 0 0;
}

.bg-div {
    position: absolute;
    z-index: -1;
}

.bg-div-1 {
    top: -125%;
    left: -100px;
    color: hsl(100deg, 100%, 90%);
    font-size: 140em;
}

.flex-media {
    position:relative;
}

.flex-media-left {
    position: absolute;
}

.flex-media-right {
    margin-left: 2em;
}

.climber {
    position: absolute;
    left: -80px;
    top: -50px;
}

.graphic-right {
    position: absolute;
    z-index: -1;
    right: -50px;
    background-image: url(../assets/img/br-r-side-2.png);
    width: 100px;
    height: 75vh;
    background-repeat: repeat-y;
    background-size: contain;
    transform: translate(100px) perspective(200px) rotateX(86deg) rotateZ(4deg)
}


